// .node {
//   fill: #ccc;
//   stroke: #fff;
//   stroke-width: 2px;
// }

/* .link {
      stroke: #777;
      stroke-width: 2px;
    } */

.link {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  background: honeydew;
  font: 16px sans-serif;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none;
  /* keep the mouseover when over the tooltip */
}

/* path {
      fill: none;
      stroke: #646464;
      stroke-width: 1px;
      stroke-dasharray: 2, 2;
      stroke-linejoin: round;
    }

    path {
      outline: 3px solid green;
    }

    svg {
      background-color: #897b452e
    } */
